.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 50px;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  line-height: 24.3px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}
